/*@import '@vuepic/vue-datepicker/dist/main.css';*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type='text']:focus,
    [type='email']:focus,
    [type='url']:focus,
    [type='password']:focus,
    [type='number']:focus,
    [type='date']:focus,
    [type='datetime-local']:focus,
    [type='month']:focus,
    [type='search']:focus,
    [type='tel']:focus,
    [type='time']:focus,
    [type='week']:focus,
    [multiple]:focus,
    textarea:focus,
    select:focus {
      --tw-ring-color: #25a5f1 !important;
      border-color: var(--tw-ring-color) !important;
    }

    [type="checkbox"],
    [type="radio"] {
        color: #25a5f1 !important;
    }

    [type="checkbox"]:focus,
    [type="radio"]:focus {
        --tw-ring-color: #25a5f1 !important;
    }
}

.cursor-pointer {
    cursor: pointer;
}
